<html>
<head>
</head>
<body bgcolor="#F6CFCA">
<form action="/predict" method="POST">
<body>

<center><img src="{{ user_image1 }}" 
<center><h3>(FRAUD DETECTION)</h3><img src="{{ user_image }}" alt="Mike"height="200px"width="710px"></center>

<p>Enter 'V1'</p><br>
<input type="text" name='afrfgt' placeholder="v1"><br>
<p>Enter 'V2'</p><br>
<input type="text" name='bqa' placeholder="V2"><br>

<p>Enter 'V3'</p><br>
<input type="text" name='c' placeholder="'V3'"><br>
<p>Enter 'V4'</p><br>
<input type="text" name='cc' placeholder="'V4'"><br>
<p>Enter 'V5'</p><br>
<input type="text" name='cccx' placeholder="'V5'"><br>
<p>Enter 'V6'</p><br>
<input type="text" name='qa' placeholder="'V6'"><br>
<p>Enter 'V7'</p><br>
<input type="text" name='ws' placeholder="'V7'"><br>
<p>Enter 'V8'</p><br>
<input type="text" name='dc' placeholder="'V8'"><br>
<p>Enter 'V9'</p><br>
<input type="text" name='tg' placeholder="'V9'"><br>
<p>Enter 'V10'</p><br>
<input type="text" name='ii' placeholder="'V10'"><br>
<p>Enter 'V11'</p><br>
<input type="text" name='qz' placeholder="'V11'"><br>
<p>Enter 'V12'</p><br>
<input type="text" name='hk' placeholder="'V12'"><br>
<p>Enter 'V13'</p><br>
<input type="text" name='pl' placeholder="'V13'"><br>
<p>Enter 'V14'</p><br>
<input type="text" name='gfg' placeholder="'V1'"><br>
<p>Enter 'V15'</p><br>
<input type="text" name='dgsgd' placeholder="'V15'"><br>
<p>Enter 'V16'</p><br>
<input type="text" name='rftg' placeholder="'V16'"><br>
<p>Enter 'V17'</p><br>
<input type="text" name='gtjgt' placeholder="'V17'"><br>
<p>Enter 'V18'</p><br>
<input type="text" name='gewbjedk' placeholder="'V18'"><br>
<p>Enter 'V19'</p><br>
<input type="text" name='imdhed' placeholder="'V19'"><br>
<p>Enter 'V20'</p><br>
<input type="text" name='whdjed' placeholder="'V20'"><br>
<p>Enter 'V21'</p><br>
<input type="text" name='ohxbx' placeholder="'V21'"><br>
<p>Enter 'V22'</p><br>
<input type="text" name='kwsgevbg' placeholder="'V22'"><br>
<p>Enter 'V23'</p><br>
<input type="text" name='gqtsby' placeholder="'V23'"><br>
<p>Enter 'V24'</p><br>
<input type="text" name='qijndr' placeholder="'V24'"><br>
<p>Enter 'V25'</p><br>
<input type="text" name='tsgbnm' placeholder="'V25'"><br>
<p>Enter 'V26'</p><br>
<input type="text" name='tsfeeee' placeholder="'V26'"><br>
<p>Enter 'V27'</p><br>
<input type="text" name='hsyeheyee' placeholder="'V27'"><br>
<p>Enter 'V28'</p><br>
<input type="text" name='oojeuejdh' placeholder="'V28'"><br>
<p>Enter 'Amount'</p><br>
<input type="text" name='amount' placeholder="'Amount'"><br>
<h1>{{predectionn}}</h1>


<p>NOTE:(if u have no 'V1' ,then write 'V1' in this section)</p>

<input type=submit value="💚💲 𝐂𝐚𝐥𝐜𝐮𝐥𝐚𝐭𝐞 𝐅𝐫𝐚𝐮𝐝 💚💲 " name='submit'>
</form>



</body>